body {
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;

    width: 80%;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}

.login-area {
    font-size: 13px;
    color: gray;
    position: absolute;
    top: 10px;
    right: 10px;
}

.login-link {
    color: gray;
    text-decoration: none;
}

.login-link:visited {
    color: gray;
}

.login-link:hover {
    text-decoration: underline;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.error {
    color: red;
}

label {
  display: block;
  font-size: 20px;
  margin-bottom: 10px;
}

label + label {
    margin-top: 20px;
}

input[type=text] {
    width: 90%;
    font-size: 20px;
    padding: 2px;
    font-family: monospace;
}

textarea {
  width: 90%;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
    display: block;
    color: #222;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    border-bottom: solid green;
}

.post + .post {
    margin-top: 15px;
}

.post-heading {
    position: relative;
    border-bottom: 1px dotted #666;
}

.post-title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: green;
}

.post-date {
    color: #999;
}

.edit-date {
    position: absolute;
    right: 120px;
    bottom: 0px;
}

.new-post:hover,
.return:hover,
.button:hover,
.post-title:hover,
.sub-title:hover,
.main-title:hover {
    text-decoration: underline;
}
.post-content {
    margin-top: 5px;
    padding-bottom: 5px;
}

.creator {
    color: #0b770e;
    margin-left: 5%;
}

.button {
    padding: 5px;
    text-decoration: none;
    color: black;
}

.post {
    display: flex;
    border-bottom: 3px solid black;
    margin-bottom: 15px;
    min-height: 95px;
}

.like {
    width: 85px;
    height: 55px;
    padding-right: 10px; 
    text-align: center;   
}

.like-img {
    width: 65px;
}

.post-body {
    width: 100%;
    flex-grow: 2; 
}

.post-info {
    flex-grow: 1;
    text-align: right;
    min-width: 180px;
    
}

.comment {
    margin-left: 10%;
    padding: 10px;
}

.post-edit {
    text-align: right;
    padding: 10px;
}
.comment-edit {
    text-align: right;
}

.new-post {
    position: absolute;
    top: 10px;
    left: 10px;
    color: gray;
    text-decoration: none;
}

.input-comment {
    width:100%;
    text-align: center;
}

.return {
    text-decoration: none;
    padding: 10px;
}