<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />
  <title>
    Seenit
  </title>
</head>

<body>
  <a href="/" class="main-title">
    Seenit
  </a>
  <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">
        login
      </a>
      |
      <a class="login-link" href="/signup">
        signup
      </a>
    {% endif %}
  </div>
  {% if user %}
    <a class="new-post" href="/newpost">
      Submit New Post
    </a>
  {% endif %}
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>

</html>

