{% extends "base.html" %}

{% block content %}
	<h2>Edit Post</h2>

	<form method="post">
      <label>
        <div>Subject</div>
        <input type="text" name="subject" value="{{p.subject}}">
      </label>

      <label>
        <div>BLOG Entry</div>
        <textarea name="content">{{p.content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
    <a href="/" class="return">
    	Return
    </a>
    <a href="/delete/{{p.key().id()}}" class="delete">
    	Delete Post
    </a>
{% endblock %}