{% extends "base.html" %}

{% block content %}
	{{post.render() | safe}}
	{% for c in comments %}
		{% if c.post_id == post.key().id() %}
			<div>{{c.comment}}</div>
		{% endif %}
	{% endfor %}
	{% if user %}
		<form method="post">
     	<label>
        	<input type="text" name="comment" value="{{comment}}">
     	</label>
      	<input type="submit" value="Post Comment">
    	</form>
	{% endif %}
	<div>
		{% if user.name == post.creator %}
			<a class="button" href="/delete/{{post.key().id()}}">
				Delete Post
			</a>
    		<a class="button" href="/edit/{{post.key().id()}}">
    			Edit Post
    		</a>
		{% endif %}
    		<a class="button" href="/">
    			Return
    		</a>
    </div>
{% endblock %}
